In [47]:
import joblib
import numpy as np
import pandas as pd

In [48]:
array = joblib.load('Dataset.joblib')

In [49]:
len(array)

4

In [50]:
df = pd.DataFrame(array)

In [51]:
df

,0,1,2,3,4,5,6,7,8,9,...,65006,65007,65008,65009,65010,65011,65012,65013,65014,65015
0,10797460,CONFIRMED,11292.760742,11281.872070,11298.019531,11284.711914,11292.368164,11296.479492,11288.382812,11288.015625,...,10834.28125,10841.144531,10834.499023,10839.880859,10841.941406,10835.292969,10837.441406,10832.650391,10831.757812,10839.983398
1,10797460,CONFIRMED,11292.760742,11281.872070,11298.019531,11284.711914,11292.368164,11296.479492,11288.382812,11288.015625,...,10834.28125,10841.144531,10834.499023,10839.880859,10841.941406,10835.292969,10837.441406,10832.650391,10831.757812,10839.983398
2,10811496,CANDIDATE,8899.561523,8900.065430,8901.698242,8912.355469,8905.543945,8903.797852,8897.439453,8899.613281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10848459,FALSE POSITIVE,8203.690430,8201.837891,8202.610352,8200.041016,8194.414062,8203.027344,8203.117188,8204.064453,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN